apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "joylive-injector.name" . }}
  namespace: {{ .Values.namespace }}
  labels: {{ include "joylive-injector.selectorLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ include "joylive-injector.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "joylive-injector.name" . }}
        {{- range $key, $val := .Values.podLabels }}
        {{ $key }}: "{{ $val }}"
        {{- end }}
    spec:
      serviceAccountName: {{ include "joylive-injector.serviceAccountName" . }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: {{ include "joylive-injector.name" . }}
                topologyKey: "kubernetes.io/hostname"
      containers:
        - env:
            - name: LOG_LEVEL
              value: "{{ .Values.logLevel }}"
            - name: JOYLIVE_CONFIGMAP_NAME
              value: "{{ .Values.configMapName }}"
            - name: JOYLIVE_RULE_CONFIGMAP_NAME
              value: "{{ .Values.ruleConfigMapName }}"
            - name: JOYLIVE_NAMESPACE
              value: "{{ .Values.namespace }}"
            - name: JOYLIVE_MATCH_ENV_LABELS
              value: "{{ .Values.matchEnvLabels }}"
            - name: JOYLIVE_CONTROL_PLANE_URL
              value: "{{ .Values.controlPlaneUrl }}"
            - name: JOYLIVE_FILTER_SENSITIVE
              value: "{{ .Values.filterSensitive }}"
            - name: JOYLIVE_CLUSTER_ID
              value: "{{ .Values.clusterId }}"
            - name: JOYLIVE_MATCH_KEY
              value: "{{ .Values.matchLabels.matchKey}}"
            - name: JOYLIVE_MATCH_VALUE
              value: "{{ .Values.matchLabels.matchValue }}"
            - name: JOYLIVE_SIDECAR_SETTING_ENABLE
              value: "{{ .Values.sidecarSetting.enable }}"
          name: joylive-injector
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
             {{- toYaml .Values.containerArgs | nindent 12 }}
          livenessProbe:
            httpGet:
              scheme: HTTPS
              port: 443
              path: /livez
            periodSeconds: 10
            initialDelaySeconds: 5
          readinessProbe:
            httpGet:
              scheme: HTTPS
              port: 443
              path: /readyz
            periodSeconds: 10
            initialDelaySeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            {{- toYaml .Values.VolumeMounts | nindent 12 }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- toYaml .Values.Volumes | nindent 8 }}
