apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ printf "%s%s" .Values.nameSuffix (include "joylive-injector.name" .) }}
webhooks:
  - name: "joylive-injector-deployment.joylive.io"
    rules:
      - apiGroups: [ "apps" ]
        apiVersions: [ "v1","v1beta1" ]
        operations: [ "CREATE","UPDATE","DELETE" ]
        resources: [ "deployments" ]
        scope: "Namespaced"
    clientConfig:
      service:
        name: {{ include "joylive-injector.name" . }}
        namespace: {{ .Values.namespace }}
        path: /mutating/injection-deploy
        port: 443
      caBundle: {{ .Values.caBundle }}
    admissionReviewVersions: [ "v1", "v1beta1" ]
    sideEffects: None
    timeoutSeconds: 5
    failurePolicy: Fail
    objectSelector:
      matchLabels: {{ include "joylive-injector.matchLabels" . | nindent 8 }}
  - name: "joylive-injector-pod.joylive.io"
    rules:
      - apiGroups: [ "" ]
        apiVersions: [ "v1","v1beta1" ]
        operations: [ "CREATE" ]
        resources: [ "pods" ]
        scope: "Namespaced"
    clientConfig:
      service:
        name: {{ include "joylive-injector.name" . }}
        namespace: {{ .Values.namespace }}
        path: /mutating/injection-pod
        port: 443
      caBundle: {{ .Values.caBundle }}
    admissionReviewVersions: [ "v1", "v1beta1" ]
    sideEffects: None
    timeoutSeconds: 5
    failurePolicy: Fail
    objectSelector:
      matchLabels: {{ include "joylive-injector.matchLabels" . | nindent 8 }}